<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit Product</title>
</head>
<body>
<h1>Edit Product</h1>
<form action="/edit/{{ product.id }}" method="post">
    <input type="text" name="name" value="{{ product.name }}">
    <button type="submit">Edit</button>
</form>
<hr>
</body>
</html>